<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-Mapper.dtd">
  
<mapper namespace="test.spring.mapper.choi.LoginMapper">

	<insert id="kakaoInsert">
		insert into kakao_table (k_id,k_email,k_nick,k_gender,k_birth) values(#{id},#{email},#{nickname},#{gender},#{birthday})
	</insert>
	
	<select id="findKakao" parameterType="java.util.HashMap" resultType="kdto">
		select * from kakao_table where k_name=#{nickname} and k_email=#{email}
	</select>
	
	<select id="check" resultType="int">
		select count(*) from kakao_table where k_id = #{id}
	</select>
	 
	<select id="mbtiCheck" resultType="String">
		select mbti from kakao_table where k_id = #{id}
	</select>
	<update id="pwSetting">
		update kakao_table set pw = #{pw} where k_id = #{id}
	</update>

</mapper>
