<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test.spring.mapper.song.TripMapper">

	<!-- 메인일정 -->
	<select id="mainList" resultType="test.spring.component.song.SampleListDTO">
		select * from sampleList where adress LIKE '${area}%' and CATEGORY = '관광지'
	</select>
	
	<!-- 서브일정 -->
	<select id="subList" resultType="test.spring.component.song.SampleListDTO">
		select * from (select * from (select * from sampleList where adress LIKE '${area}%') 
		where lat between #{minLat} and #{maxLat}) where lon between #{minLon} and #{maxLon} and CATEGORY = '관광지'
	</select>
	
	<!-- 아침식사 -->
	<select id="breakfast" resultType="test.spring.component.song.SampleListDTO">
		select * from (select * from (select * from (select * from sampleList where adress LIKE '${area}%') 
		where lat between #{minLat} and #{maxLat}) where lon between #{minLon} and #{maxLon})
		where category = '아침식사'
	</select>
	
	<!-- 점심식사 -->
	<select id="luncheon" resultType="test.spring.component.song.SampleListDTO">
		select * from (select * from (select * from (select * from sampleList where adress LIKE '${area}%') 
		where lat between #{minLat} and #{maxLat}) where lon between #{minLon} and #{maxLon})
		where category = '점심식사'
	</select>
	
	<!-- 저녁식사 -->
	<select id="abendessen" resultType="test.spring.component.song.SampleListDTO">
		select * from (select * from (select * from (select * from sampleList where adress LIKE '${area}%') 
		where lat between #{minLat} and #{maxLat}) where lon between #{minLon} and #{maxLon})
		where category = '저녁식사'
	</select>
	<select id="cityList" resultType="test.spring.component.song.SampleListDTO">
		select * from sample_citylist
	</select>
	<!-- 메인일정2 -->
	<select id="mainList2" resultType="test.spring.component.song.SampleListDTO">
		select * from sampleList where adress LIKE '${area}%'
	</select>
	<insert id="insertList" parameterType="test.spring.component.song.SampleListDTO">
		insert into SAMPLELIST(name, adress, lon, lat, category) values(#{name},#{adress},#{lon},#{lat},#{category})
	</insert>

</mapper>