<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-Mapper.dtd">
<mapper namespace="test.spring.mapper.song.TripMapper">

	<select id="mainList" resultType="test.spring.component.song.SampleListDTO">
<!--	select * from samplelist	-->
		select * from sampleList where adress LIKE '${area}%'
	</select>
	
	<select id="subList" resultType="test.spring.component.song.SampleListDTO">
		select * from (select * from (select * from sampleList where adress LIKE '${area}%') 
		where lat between #{minLat} and #{maxLat}) where lon between #{minLon} and #{maxLon}
	</select>

</mapper>